body{
    font-family: 'Roboto', sans-serif;
}
.above-fold{
    height: 100vh;
    background-image: url(imgs/foggy.jpg);
    background-repeat: repeat;
    background-size: cover;
}


#move-text{
    margin-top: 100px;
    color: white;
    text-align: center;
}

.image{
    margin: 0px;
    padding: 0px;
}

.image img{
    border: 2px solid black;
}

.container{
    display: flex;
}

.col{
    flex;
}
.row{
    flex-direction: row;
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

.animate {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite,
    blinkTextCursor 500ms steps(8) infinite normal;
}

