.navbar-toggler{
    background-color: grey;
}

.jumbotron{
background-color: rgba(122,158,160,0.88);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.animate {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

