@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center d-flex flex-column justify-content-center">
    <h1 class="title-text display-1">Jacob Hensley</h1>
    <p class="display-6">Software Engineer</p>
    <p class="display-6">Dallas, TX</p>
</div>

<div class="container text-center d-flex flex-column justify-content-center p-5">
    <h2>About Me</h2>
    <p>
        Highly collaborative, quality-focused Software Engineer. Eagar to learn and grow in my knowledge of modern technologies. Able to break down complex issues from different angles and present logical solutions. Self-driven to organize tasks efficiently and manage time effectively.
    </p>
</div>
